.header {
    width: auto;
    height: 300px;
    background-image: url(/img/cool-background.png);
    background-size: cover;
    display: fixed;
}

h2 {
    padding: 2%;
}

article {
    padding: 3%;
}

a {
    text-decoration: none;
    color: black
}

.imgheader {
    width: 160px;
    position: absolute;
    padding-top: 8%;
    padding-left: 2%;
    display: fixed;
}

ul, li {
    list-style: none;
    text-decoration: none;
}
    
li {
    padding: 1%;

}

.menu-desplegable {
    position: relative;
    display: inline-table;
    padding: 2%;
    top: 0%;
    right: -83%;
}

.menu-contenido {
    display: none;
    background-color: blueviolet;
    text-align: right;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: relative;
    top: 4.5%;
    right: 56%;
}

.title {
    padding-right: 2%;
    color: antiquewhite;
    font: oblique bold 120% cursive;
    text-shadow: 0.0em 0.1em 0.1em black;
    text-align: right;
    position: absolute;
    top: 25%;
    right: 3%;
       

}

.menu-desplegable:hover .menu-contenido {
    display: block;
}

.cake {
    width: auto;
    height: auto;
    max-width: 600px;
    padding: 1%;
}

.product {
    padding: 2%;
    display: grid;
    grid-column: 1fr, 1fr;
    grid-auto-rows: 100px;
    grid-template-areas: 
    "a b"
    "c d";
}

.birthday {
    background-image: url(/img/cake-birth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2px;
    grid-area: a;
    
}

.cakes {
    background-image: url(/img/cake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2px;
    grid-area: b;
}

.cupcakes{
    background-image: url(/img/cupcakes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2px;
    grid-area: c;
}

.croissants {
    background-image: url(/img/croisant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2px;
    grid-area: d;
}

.footer {
    padding: 2%;
    background-color: lightpink;
    grid-column: 1fr;
    grid-auto-rows: 20px;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e";
    justify-content: ;
}

.icon {
    height: 17px;
}

.c1 {
    padding: 2%;
    font-style: none;
    background-color: aquamarine;
    width: 235px;
    grid-area: a;
}

.c2 {
    padding: 2%;
    font-style: none;
    background-color: aquamarine;
    width: 235px;
    grid-area: b;
}

.c3 {
    padding: 2%;
    font-style: none;
    background-color: aquamarine;
    width: 235px;
    grid-area: c;
}

.c4 {
    grid-area: e;
}



@media only screen and (min-width: 600px) {
    
    .imgheader {
        width: 160px;
        position: absolute;
        padding-top: 8%;
        padding-left: 2%;
        display: fixed;
    }

    .title {
        padding-right: 2%;
        color: antiquewhite;
        font: oblique bold 180% cursive;
        text-shadow: 0.0em 0.1em 0.1em black;
        text-align: right;
        position: absolute;
        top: 25%;
        right: 3%;
    }

    .menu {
        visibility: hidden;
    }

    .menu-desplegable {
        position: inherit;
        display: inherit;
        padding: inherit;
        top: inherit;
        right: inherit;
    }
    
    .menu-contenido {
        width: 90%;
        height: 100px;
        background-color: cornflowerblue;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 330px;
        right: 0;
        border-radius: 3%;
    }
    
    li {
        background-color: beige;
        padding: 3px;    
    }
    
    .welcome {
        width: auto;
        height: 300px;
        padding-left: 10%;
        padding-right: 10%;
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr, 1fr;
        grid-template-rows: 100px, 100px, 100px;
        grid-template-areas: 
        "a a b b"
        "a a c c"
        "a a c c";
        position: absolute;
        top: 480px;
        background-color: burlywood;
    }
    
    .cake {
        width: calc(100% - 1rem * 2);
        max-height: 500px;
        grid-area: a;
        align-self: center;
        justify-self: center;
    }
    
    .t-wel {
        grid-area: b;
        align-self: end;
        justify-self: end;
    }
    
    article {
        grid-area: c;
    }
    
    .product {
        padding: 2% 10% 2% 10%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 800px;
        width: 100%;
        height: 200px;
    }

    .birthday {
        width: 25%;
    }

    .cakes {
        width: 25%;
    }

    .cupcakes {
        width: 25%;
    }

    .croissants {
        width: 25%;
    }

    .footer {
        padding: 2% 10% 2% 10%;
        position: absolute;
        top: 1000px;
        width: 100%;
    }

    .icon {
        height: 17px;
    }
}    